@model Domain.Treator

<link rel="stylesheet" href="~/css/Home/HomeStyle.css" />

<body>
    <div class="dashboard">
        <div class="dashboard-welcome">
            @await Component.InvokeAsync("TreatorUpcomingAppointments", new { t = Model })
        </div>
        <div class="dashboard-next-appointment">
            @await Component.InvokeAsync("TreatorNextAppointment", new { treator = Model })
        </div>
        <div class="dashboard-account">
            @await Component.InvokeAsync("TreatorAccountInfo", new { t = Model })
        </div>
    </div>
</body>
