@model Fysio.Areas.Treator.Models.TreatmentModel

<link rel="stylesheet" href="~/css/Patient/AddPatientStyle.css" />
<script src="~/js/MenuItems.js"></script>
<script src="~/js/AddPatientFileScript.js"></script>

<body>
    <div class="form-add-patient">
        <div class="title">
            @if (ViewBag.IsNew)
            {
                <h2>Behandeling aanmaken</h2>
            } else
            {
                <h2>Behandeling bijwerken</h2>
            }
        </div>
        <form asp-action="AddTreatment" method="post" class="form">
            <input asp-for="PatientEmail" value="@Model.PatientEmail" class="hidden" />
            <input asp-for="TreatmentId" value="@Model.TreatmentId" class="hidden" />
            <div class="form-personal">
                <div class="form-input-group">
                    <label asp-for="Type">Type behandeling</label>
                    <select id="type" onchange="isNecessary()" asp-for="Type" class="input-field-form" asp-items="@ViewBag.TreatmentTypes">
                    </select>
                </div>

                <div class="form-input-group">
                    <label asp-for="Description">Omschrijving</label>
                    <textarea asp-for="Description" class="input-field-form"></textarea>
                </div>

                <input id="necessary" asp-for="DescriptionNecessary" class="hidden" checked />
            </div>
            <div class="form-contact">
                <div class="form-input-group">
                    <label class="form-input-label" asp-for="Location">Locatie</label>
                    <select asp-for="Location" class="input-field-form">
                        <option>Oefenzaal</option>
                        <option>Behandelruimte</option>
                    </select>
                </div>

                <div class="form-input-group">
                    <label asp-for="Particularities">Bijzonderheden</label>
                    <textarea asp-for="Particularities" class="input-field-form"> </textarea>
                </div>
            </div>
            <div class="form-submit">
                @if (ViewBag.IsNew)
                {
                    <button class="btn-active-menu" type="submit">Voeg behandeling toe</button>

                }
                else
                {
                    <button class="btn-active-menu" type="submit">Werk behandeling bij</button>
                    <a asp-area="Treator" asp-action="DeleteTreatment" asp-controller="Treatment" asp-route-treatmentId="@Model.TreatmentId" class="link-styled">Verwijder behandeling</a>
                }
                <div asp-validation-summary="All"></div>
            </div>
        </form>
    </div>
</body>

<script>
    activeMenu2();
</script>