@model Fysio.Areas.Treator.Models.PatientModel

<link rel="stylesheet" href="~/css/Patient/PatientDetailStyle.css" />
<script src="https://unpkg.com/feather-icons"></script>
<script src="~/js/MenuItems.js"></script>

<body>
    <div class="patient-detail">
        <div class="patient-info">
            @await Component.InvokeAsync("PatientInfo", new { patient = Model })
        </div>
        <div class="patient-treatment">
            <div class="patient-treatment-container">
                @await Component.InvokeAsync("PatientTreatmentInfo", new { patient = Model })
            </div>
        </div>
        <div class="patient-appointments">
            @await Component.InvokeAsync("PatientAppointments", new { patient = Model })
        </div>
    </div>
    <div class="fab">
        <a asp-action="AddPatient" asp-area="Treator" asp-controller="Patient" asp-route-id="@Model.Id">
            <i data-feather="edit" class="fab-icon"></i>
        </a>
    </div>
</body>


<script>
    feather.replace();
    activeMenu2();
</script>