.form-availability-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-input-group{
    width: 40%;
}

.input-field-form{
    width: 100%;
}

.overflow-scroll-class{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}