@model Fysio.Areas.Treator.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/patientcss/ErrorStyle.css" />

<div class="error">
    <div class="error-body">
        <h2 class="text-danger">Er is iets fout gegaan</h2>

        <span>@ViewBag.Message</span>
    </div>
</div>