@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Login";
}

@model Fysio.Areas.Treator.Models.LoginModel

<link rel="stylesheet" href="~/css/Layout/LayoutStyle.css" />
<link rel="stylesheet" href="~/css/Account/AccountStyle.css" />

<body>
    <div class="login_box">
        <div class="login-box-item login-box-item-logo">
            <img src="~/images/logo fysx noborder.png" alt="Logo FysX" class="logo img-fluid img-thumbnail" />
        </div>


        <div class="login-box-item">
            <form asp-action="Login" method="post" class="login-box-item-form">
                <input class="input-field" asp-for="Email" type="email" placeholder="Email..." />
                <input class="input-field" asp-for="Password" type="password" placeholder="Wachtwoord..." />
                <div asp-validation-summary="All"></div>
                <br />
                <button type="submit" class="btn-active-menu">Login</button>
                <a asp-area="Treator" asp-action="Register" asp-controller="Account" class="link-styled">Registreer</a>
            </form>
        </div>
    </div>

</body>
