@model AppointmentModel

<link href="~/css/Patient/AddPatientStyle.css" rel="stylesheet" />
<link href="~/css/Appointment/AddAppointmentStyle.css" rel="stylesheet" />
<script src="~/js/MenuItems.js"></script>

<script src="~/js/AddAppointmentScript.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<body>
    <div class="form-add-patient">
        <div class="add-appointment-title">
            @if (!ViewBag.IsNew)
            {
                <h2>Werk afspraak bij</h2>
            } else
            {
                <h2>Voeg afspraak toe</h2>
            }
        </div>
        <form method="post" asp-action="AddAppointment" class="form">
            <select id="treator" asp-for="TreatorEmail" asp-items="@ViewBag.Treators" onchange="dateChangedScript()" class="input-field-form hidden">
            </select>
            <select id="patient" asp-for="PatientId" asp-items="@ViewBag.Patients" onchange="dateChangedScript()" class="input-field-form hidden">
            </select>
            
            <div class="form-input-group">
                <label asp-for="AppointmentDate">Datum:</label>
                <input id="datepicker" asp-for="AppointmentDate" type="date" onchange="dateChangedScript()" class="input-field-form" />
            </div>

            <div class="form-input-group">
                <label asp-for="AppointmentTime">Tijd:</label>
                <select id="timelist" asp-for="AppointmentTime" class="input-field-form">
                    <option value="null">Kies een datum...</option>
                </select>
            </div>

            <div class="form-submit">
                @if (ViewBag.IsNew)
                {
                    <button class="btn-active-menu" type="submit">Voeg afspraak toe</button>
                }
                else
                {
                    <button class="btn-active-menu" type="submit">Werk afspraak bij</button>
                    <a asp-action="DeleteAppointment" asp-area="Treator" asp-controller="Appointment" asp-route-id="@Model.Id" class="link-styled delete-btn">Verwijder afspraak</a>
                }
                <div asp-validation-summary="All"></div>
            </div>
        </form>

    </div>
</body>

