@model PatientModel

<link rel="stylesheet" href="~/patientcss/home/HomeStyle.css" />
<body>
    <div class="patient-dashboard">
        <div class="patient-dashboard-info">
            @await Component.InvokeAsync(typeof(Fysio.Areas.Treator.ViewComponents.PatientInfoViewComponent), new { patient = Model })
        </div>
        <div class="patient-dashboard-treatment">
            <div class="patient-dashboard-treatment-info">
                @await Component.InvokeAsync(typeof(Fysio.Areas.Treator.ViewComponents.PatientTreatmentInfoViewComponent), new { patient = Model })
            </div>
        </div>
        <div class="patient-dashboard-appointments">
            @await Component.InvokeAsync(typeof(Fysio.Areas.Treator.ViewComponents.PatientAppointmentsViewComponent), new { patient = Model}) 
        </div>
    </div>
</body>

